body{
  background-image: url(https://img.freepik.com/premium-photo/light-green-abstract-texture-background_851755-125.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.result{
  background-color: rgba(172, 227, 172, 0.612);
}